<div class="" style="background-color: #212529">
  <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start" style="padding: 20px;">
    <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
      <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
    </a>

    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
      <li><%= image_tag 'weather-forecaster-logo', alt: 'logo', height: 70, width: 70 %></li>
      <li style="padding: 15px 0px 0px 15px"><a href="/orders" class="nav-link px-2 text-white">WEATHER FORECASTER</a></li>
    </ul>

    <div class="text-end">
      <% if current_user.present? %>
        <span style="color: white"><%= current_user.email %></span>
        <%= button_to "Sign-out", destroy_user_session_path, method: :delete, class: "btn btn-warning" %>
      <% else %>
        <%= link_to "Sign-in", new_user_session_path, class: "btn btn-outline-light me-2" %>
        <%= link_to "Sign-up", new_user_registration_path, class: "btn btn-outline-light me-2" %>
      <% end %>
    </div>
  </div>

</div>